{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bloggies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Boxicon awesome icon -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"">
    
  </head>
  <body>

    <!-- header -->
    
    <nav class = "navbar">
        <div class = "container">
          <a href = "{% url 'blog:home' %}" class = "navbar-brand">Academy.Omen</a>
          <div class = "navbar-nav">
            <a href = "{% url 'blog:home' %}">home</a>
            <a href = "{% url 'blog:articles' %}">articles</a>
            <a href = "">about</a>
          </div>
        </div>
    </nav>
    
    <!-- end of header -->

    <div class = "container">
        <div class = "title">
          <h2>All Articles</h2>
        </div>
        <form method="GET">
          <input type="text" id="query" name="query" class="textbox" placeholder="Search">
          <button type = "submit" class="button">
            <i class='bx bx-search'></i>
          </button>
        </form>
        <div class="article-meta">
            <a class="back-button" href="{% url 'blog:articles' %}">All Articles</a>
            {% for tag in tags %}
            <span class="tag"><a href="#">{{ tag.name }}</a></span>
            {% endfor %}
        </div>

        <hr>

        <div class = "featured-content">
          {% for article in articles %}
          <!-- item -->
          <div class = "featured-item">
            <div class = "featured-img">
              <a href="{{ article.get_absolute_url }}">
                <img src = "{{ article.image.url }}" alt = "">
                <span><i class='bx bx-calendar-star'></i>{{ article.publish|date:"M Y" }}</span>
                <span>{{ article.sub_headline }}</span>
              </a>
            </div>
            <div class = "featured-title">
              <a href = "{{ article.get_absolute_url }}">{{ article.headline }}</a>
            </div>
          </div>
          <!-- end of item -->
          {% empty %}
			      <h3>No Article found...</h3>  
          {% endfor %}
        </div>
    </div>

    <!-- footer -->
    <footer>
      <div class = "social-links">
        <a href = "#"><i class='bx bxl-facebook'></i></a>
        <a href = "#"><i class='bx bxl-twitter'></i></a>
        <a href = "#"><i class='bx bxl-instagram'></i></a>
        <a href = "#"><i class='bx bxl-github'></i></a>
      </div>
      <span>Academy.Omen Bloggies</span>
    </footer>
    <!-- end of footer -->
    
    
  </body>
</html>