@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&family=Open+Sans:ital,wght@0,400;0,700;1,800&display=swap');

:root{
    --OpenSans: 'Open Sans', serif;
    --Monserrat: 'Monserrat', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
    --blue: #4285f4;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Monserrat);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}

p {
    font-size: 16px;
    color: #07050d;
    line-height: 2;
    margin: 24px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.2rem;
}




/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--OpenSans);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Monserrat);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    font-family: var(--OpenSans);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--OpenSans);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Monserrat);
    font-weight: 300;
    word-spacing: 2px;
}

/* Form */


form {
    outline: 0;
    float: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
  }
  
  form > .textbox {
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }
  
  form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  
  form > .button:hover {
    background-color: var(--blue);
  }

@media screen and (min-width: 460px){
    form{
        margin-right: 1rem;
    }

}
@media screen and (max-width: 460px){

    form {
        box-shadow: none;
    }
    form > .textbox{
        width: 64%;
    }
}
/* end form */

/* featured */
.section--header{
    min-height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.featured{
    padding: 4.5rem 0;
}
.featured-heading{
    font-size: 2rem;
    font-family: var(--OpenSans);
    color: var(--exDark);
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--OpenSans);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.featured-content{
    margin: 2rem 0;
}
.featured-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.featured-img{
    position: relative;
    overflow: hidden;
}

.featured-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.featured-img img{
    transition:  all 0.5s ease;
}
.featured-item:hover img{
    transform: scale(1.2);
}
.featured-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.featured-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.featured-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.featured-title a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--OpenSans);
}


/* about */
.about{
    padding: 4.5rem 0;
}
.about-text{
    margin: 2rem 0;
}
.about-text > p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}



/* article page  */

.article-info{
    padding: 10px;
}

.display-center {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 457px){

    .display-center {
        display: block;
    }
}

.article-info-content{ 
    justify-content: space-between;
}

.tag{
    display:inline-block;
    color:#fff;
    background-color: #888;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 5px;
    font-size: 14px;	
    cursor: pointer;
    text-decoration: none;
}

.tag a{
    text-decoration: none;
    color: white;
}

.tag:active{
    background-color: var(--blue);
}


.back-button{
    padding: 8px 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #4285f4;
    border-radius: 5px;
}


/* footer */
footer{
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #000;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--OpenSans);
    letter-spacing: 2px;
}

/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .featured-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .featured-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .featured-content{
        grid-template-columns: repeat(3, 1fr);
    }
}